@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);
body{
  background-image: url(images/blue\ back.jpg);
}
.home-image-body{ 
  font-family: 'Open Sans', 'sans-serif';
  
  overflow: hidden;
  
}
.image-text{
  padding-left: -200px;
  position: absolute;
  margin: 20px;
  margin-top: 25px;
  margin-right: 750px;
  border: khaki solid 3px;
  height: 500px;
  width: 600px;
  border-radius: 15px;
  padding: 10px;
  
}
 .home-image img{
   height: 500px;
   margin-top: 25px;
   margin-left: 700px;
   border-radius: 15px;
 }

.item-1, 
.item-2, 
.item-3,
.item-4, 
.item-5, 
.item-6 {
  position: absolute;
  display:flex;
  top: 2em;
 font-family: Georgia, 'Times New Roman', Times, serif;
  width: 100%;
background-image: url(images/blue\ back.jpg);
  border-radius: 10px;
  height: 600px;
 margin-left: -340px;
 
  font-size: 20px;
  border: 3px solid gold;

  animation-duration: 50s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.item-1{
  animation-name: anim-1;
  
 
}

.item-2{
  animation-name: anim-2;
 
}

.item-3{
  animation-name: anim-3;
}

.item-4{
  animation-name: anim-4;
 
}

.item-5{
  animation-name: anim-5;
 
}

.item-6{
  animation-name: anim-6;
}

@keyframes anim-1 {
  0%, 5% { left: -100%; opacity: 0; }
  5%,14% { left: 25%; opacity: 1; }
  15%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-2 {
  0%, 13% { left: -100%; opacity: 0; }
  18%, 25% { left: 25%; opacity: 1; }
  30%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-3 {
  0%, 28% { left: -100%; opacity: 0; }
  30%, 40% { left: 25%; opacity: 1; }
 45%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-4 {
  0%, 42% { left: -100%; opacity: 0; }
  44%, 50% { left: 25%; opacity: 1; }
 60%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-5 {
  0%, 58% { left: -100%; opacity: 0; }
  60%, 70% { left: 25%; opacity: 1; }
 75%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-6 {
  0%, 72% { left: -100%; opacity: 0; }
  74%, 85% { left: 25%; opacity: 1; }
 90%, 100% { left: 110%; opacity: 0; }
}








@media only screen and (max-width:503px){

  .image-text{
    padding-left: 500px;
    position: absolute;
    margin: 20px;
   
  
    border: rgb(19, 23, 231) solid 3px;
    height: 430px;
    width: 400px;
    border-radius: 15px;
    padding: 10px;
    margin-left: 35px;
    
   
    
  }
   .home-image img{
     height: 200px;
     margin-top: 240px;
     margin-left: 100px;
     border-radius: 15px;
     
     
   }


   .item-1, 
   .item-2, 
   .item-3,
   .item-4, 
   .item-5, 
   .item-6 {
     position: absolute;
     display:flex;
     top: 2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
     width: 100%;
   background-image: url(images/blue\ back.jpg);
     border-radius: 10px;
     height: 500px;
    margin-left: -120px;
    margin-top: 60px;
     font-size: 15px;
     border: none;
     
   
     animation-duration: 50s;
     animation-timing-function: ease-in-out;
     animation-iteration-count: infinite;
   }





}
